:root {
  padding: 0;
  margin: 0;
  --main-color: #38195e;
  --nav-background-color: #2a1346;
  --font-color: rgb(253, 226, 255);
  font-size: 2dvw;
}

body {
  background-color: white;
}

#root {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 1fr 12fr;
  height: 100dvh;
  width: 100dvw;
}

main,
nav {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--main-color);
  color: var(--font-color);
}

nav {
  background-color: var(--nav-background-color);
  grid-area: nav;
  place-content: center;

  a {
    color: var(--font-color);
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
  }
}

main {
  grid-area: main;
}

form {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
  gap: 1rem;
}

.profileSection {
  display: flex;
  gap: 1rem;
}

.onlineUsers {
  tr {
    td {
      padding: 0.5rem;
    }
  }
}
